* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #f6d365, #d88771);
  color: white;
}

h1 {
  font-size: 5.6rem;
}

ul {
  list-style: none;
}

input,
button,
li {
  font-size: 2.4rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

form button {
  background: white;
  color: #d88771;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  background: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
}

.todo {
  display: flex;
  justify-content: space-between;
  background: white;
  color: black;
  margin: 1rem;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  padding: 0.5rem;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.todo button {
  border: none;
  padding: 0.5rem 1rem;
  background: rgba(3, 165, 117, 0.932);
  color: white;
}

button.trash-btn {
  background: #ff6f47;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(30deg);
  opacity: 0;
}

/* filter todo */

#filter-todo {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #ff6f47;
  font-size: 1.4rem;
  /* padding: 1rem; */
  padding: 0.2rem 0.5rem;
  width: 14rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  background: #ff6f47;
  padding: 0.2rem 0.5rem;
}

.select:hover::after {
  background-color: white;
  color: #ff6f47;
}

@media screen and (max-width: 890px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  form {
    padding-left: 1rem;
  }

  .todo-list {
    min-width: 80%;
  }
}
